/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 mei 2019, 00:08:56
    Author     : bramd
*/

.text-field{
   -fx-border-width: 2;
   -fx-border-radius: 1;
}

.root{
    -fx-font-size: 14;
    -fx-font-family: 'Courier New';
    -fx-background: #C5D7D1
}

.text-field{
    -fx-padding: 3;
    -fx-font-size: 15;
}

.label{
    -fx-padding: 3;
    -fx-font-size: 15;
}


